.App {
    max-width: 1920px;
    margin: 0 auto;
}

.main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 35px;
    margin: 0 auto;
    max-width: 100%;
    padding: 100px 165px;
    background-color: #F5F7FA;
}