body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.react-calendar__navigation {
    height: 72Px !important;
    background-color: #EEF7FE;
    position: relative;
    border-radius: 8px;
}

.react-calendar__navigation__label {
    font-size: 14px !important;
    font-weight: 700;
    color: #1D9AFA !important;
    position: absolute;
    left: 10px;
    top: 33%;
}

.react-calendar__navigation button:enabled:hover {
    background-color: #EEF7FE !important;
}

.react-calendar__navigation__prev2-button {
    font-size: 20px;
    color: #1D9AFA !important;
    display: none;
}

.react-calendar__navigation__next2-button {
    font-size: 20px;
    color: #1D9AFA !important;
    display: none;
}

.react-calendar__navigation__prev-button {
    font-size: 20px;
    color: #1D9AFA !important;
    position: absolute;
    right: 40px;
    top: 33%;
}

.react-calendar__navigation__next-button {
    font-size: 20px;
    color: #1D9AFA !important;
    position: absolute;
    right: 10px;
    top: 33%;
}

.react-calendar__tile--active {
    background-color: #EEF7FE !important;
    color: #1D9AFA !important;
}

.react-calendar__tile--now {
    background-color: #F0F3F6 !important;
}

.react-calendar__month-view__days__day {
    color: #434A5F !important;
    font-size: 14px;
}

.react-calendar__month-view__days__day--neighboringMonth {
    color: #DFE3E6 !important;
}